<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>

    <!--Bootstrap JavaScript-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div th:replace="base :: header"></div>
            <a style="font-size: 1.5em;" href="/add">Add a item To Do</a>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Item</th>
                        <th>Content</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td th:text="${item.title}"></td>
                        <td th:text="${item.content}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${item.id})}">Update</a> -
                        <a th:href="@{/detail/{id}(id=${item.id})}">Details</a> -
                        <a th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
                    </td>
                    </tr>
                </tbody>
            </table>
            <div th:replace="base :: footer"></div>
        </div>
    </div>
</body>
</html>